<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSKbWYHquoN0VWfWTQxCShl7zwOKtEnsY</string>
	<key>GCM_SENDER_ID</key>
	<string>383947621542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hasamatwins.inMemory</string>
	<key>PROJECT_ID</key>
	<string>inmemory-420303</string>
	<key>STORAGE_BUCKET</key>
	<string>inmemory-420303.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383947621542:ios:4f39a6051bf7a9ed3d6067</string>
</dict>
</plist>